In [1]:
import sqlite3
import pandas as pd
from pandas.core.frame import DataFrame
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)
pd.options.mode.chained_assignment = None

from matplotlib import pyplot as plt
from time import sleep

import matplotlib


# import gnuplotlib as gp
import numpy as np

import sys

In [39]:
pd.set_option('display.max_colwidth', None)

In [2]:
import requests

In [3]:
def get_df(f_path: str = "/home/kefei/.volttron/agents/"
                       "ba3caba2-2e44-49a3-a771-eaccf6b7bc3e/sqlhistorianagent-4.0.0/data/platform.historian.sqlite"
           ) -> pd.DataFrame:
    # f_path = "/home/kefei/.volttron/agents/85736715-3354-4b70-94d7-eb2ca6e88e48/sqlhistorianagent-4.0.0/data/platform.historian.sqlite"
    con = sqlite3.connect(f_path)

    # df = pd.read_sql_query("SELECT name FROM sqlite_schema WHERE type ='table' AND name NOT LIKE 'sqlite_%'", con)
    # df.head()

    df_data = pd.read_sql_query(sql="select * from data", con=con)
    # df_data

    df_topics = pd.read_sql_query(sql="select * from topics", con=con)
    # df_topics
    con.commit()  # to make sure refresh

    df_join = pd.merge(df_data, df_topics, on='topic_id')
    # df_join.head()

    return df_join

In [80]:
df = get_df()
df.tail()

,ts,topic_id,value_string,topic_name,metadata
43289,2022-05-15T07:07:03.859998+00:00,76,"""{'activity': 'Go to a concert with local artists with some friends', 'type': 'social', 'participants': 3, 'price': 0.4, 'link': '', 'key': '2211716', 'accessibility': 0.3}""",campus/building/restapitest/Catfact,"{""units"": ""No cat fact"", ""type"": ""integer"", ""tz"": ""US/Pacific""}"
43290,2022-05-15T07:07:08.454262+00:00,76,"""{'activity': 'Go to a concert with local artists with some friends', 'type': 'social', 'participants': 3, 'price': 0.4, 'link': '', 'key': '2211716', 'accessibility': 0.3}""",campus/building/restapitest/Catfact,"{""units"": ""No cat fact"", ""type"": ""integer"", ""tz"": ""US/Pacific""}"
43291,2022-05-15T07:07:13.789487+00:00,76,"""{'activity': 'Have a picnic with some friends', 'type': 'social', 'participants': 3, 'price': 0.1, 'link': '', 'key': '6813070', 'accessibility': 0.1}""",campus/building/restapitest/Catfact,"{""units"": ""No cat fact"", ""type"": ""integer"", ""tz"": ""US/Pacific""}"
43292,2022-05-15T07:07:18.784725+00:00,76,"""{'activity': 'Bake a pie with some friends', 'type': 'cooking', 'participants': 3, 'price': 0.3, 'link': '', 'key': '3141592', 'accessibility': 0.3}""",campus/building/restapitest/Catfact,"{""units"": ""No cat fact"", ""type"": ""integer"", ""tz"": ""US/Pacific""}"
43293,2022-05-15T07:07:23.460886+00:00,76,"""{'activity': 'Host a movie marathon with some friends', 'type': 'social', 'participants': 3, 'price': 0.1, 'link': '', 'key': '5914292', 'accessibility': 0}""",campus/building/restapitest/Catfact,"{""units"": ""No cat fact"", ""type"": ""integer"", ""tz"": ""US/Pacific""}"

In [59]:
df.loc[43085, :].value_string

'true'

In [62]:
print(type(df.loc[43085, :].value_string))

<class 'str'>

In [60]:
df.loc[43211, :].value_string

'"{\'activity\': \'Learn how to fold a paper crane\', \'type\': \'education\', \'participants\': 1, \'price\': 0.1, \'link\': \'\', \'key\': \'3136036\', \'accessibility\': 0.05}"'

In [132]:
df = get_df()
df.sort_values('ts', ascending=False).head(8)

,ts,topic_id,value_string,topic_name,metadata
43429,2022-05-15T07:22:18.746426+00:00,78,"""{'activity': 'Catch up with a friend over a lunch date', 'type': 'social', 'participants': 2, 'price': 0.2, 'link': '', 'key': '5590133', 'accessibility': 0.15}""",campus/building/callitwhatever/Catfact,"{""units"": ""No cat fact"", ""type"": ""integer"", ""tz"": ""US/Pacific""}"
43428,2022-05-15T07:22:18.746426+00:00,77,false,campus/building/callitwhatever/Heartbeat,"{""units"": ""On/Off"", ""type"": ""integer"", ""tz"": ""US/Pacific""}"
43361,2022-05-15T07:22:18.432963+00:00,74,"""{'activity': 'Learn how to fold a paper crane', 'type': 'education', 'participants': 1, 'price': 0.1, 'link': '', 'key': '3136036', 'accessibility': 0.05}""",campus/building/restapi/Catfact,"{""units"": ""No cat fact"", ""type"": ""integer"", ""tz"": ""US/Pacific""}"
43160,2022-05-15T07:22:18.432963+00:00,73,true,campus/building/restapi/Heartbeat,"{""units"": ""On/Off"", ""type"": ""integer"", ""tz"": ""US/Pacific""}"
43360,2022-05-15T07:19:03.477457+00:00,74,"""{'activity': 'Volunteer at your local food bank', 'type': 'charity', 'participants': 1, 'price': 0, 'link': '', 'key': '2055368', 'accessibility': 0.1}""",campus/building/restapi/Catfact,"{""units"": ""No cat fact"", ""type"": ""integer"", ""tz"": ""US/Pacific""}"
43159,2022-05-15T07:19:03.477457+00:00,73,true,campus/building/restapi/Heartbeat,"{""units"": ""On/Off"", ""type"": ""integer"", ""tz"": ""US/Pacific""}"
43359,2022-05-15T07:18:58.448968+00:00,74,"""{'activity': 'Take a hike at a local park', 'type': 'recreational', 'participants': 1, 'price': 0, 'link': '', 'key': '8724324', 'accessibility': 0.1}""",campus/building/restapi/Catfact,"{""units"": ""No cat fact"", ""type"": ""integer"", ""tz"": ""US/Pacific""}"
43158,2022-05-15T07:18:58.448968+00:00,73,true,campus/building/restapi/Heartbeat,"{""units"": ""On/Off"", ""type"": ""integer"", ""tz"": ""US/Pacific""}"

In [41]:
df.sort_values('ts', ascending=False)[df.topic_id==74]

/tmp/ipykernel_5984/2667106004.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df.sort_values('ts', ascending=False)[df.topic_id==74]

,ts,topic_id,value_string,topic_name,metadata
43159,2022-05-15T04:33:13.451962+00:00,74,"""{'activity': \""Plan a vacation you've always wanted to take\"", 'type': 'relaxation', 'participants': 1, 'price': 0, 'link': '', 'key': '7265395', 'accessibility': 0.05}""",campus/building/restapi/Catfact,"{""units"": ""No cat fact"", ""type"": ""integer"", ""tz"": ""US/Pacific""}"
43158,2022-05-15T04:33:08.486390+00:00,74,"""{'activity': 'Visit a nearby museum', 'type': 'recreational', 'participants': 1, 'price': 0.2, 'link': '', 'key': '5490351', 'accessibility': 0.7}""",campus/building/restapi/Catfact,"{""units"": ""No cat fact"", ""type"": ""integer"", ""tz"": ""US/Pacific""}"
43157,2022-05-15T04:33:03.532271+00:00,74,"""{'activity': 'Draft your living will', 'type': 'busywork', 'participants': 1, 'price': 0, 'link': 'https://www.investopedia.com/terms/l/livingwill.asp', 'key': '2360432', 'accessibility': 0.5}""",campus/building/restapi/Catfact,"{""units"": ""No cat fact"", ""type"": ""integer"", ""tz"": ""US/Pacific""}"
43156,2022-05-15T04:32:58.607268+00:00,74,"""{'activity': \""Clean out your closet and donate the clothes you've outgrown\"", 'type': 'charity', 'participants': 1, 'price': 0, 'link': '', 'key': '9026787', 'accessibility': 0.1}""",campus/building/restapi/Catfact,"{""units"": ""No cat fact"", ""type"": ""integer"", ""tz"": ""US/Pacific""}"
43155,2022-05-15T04:32:53.538405+00:00,74,"""{'activity': 'Write a thank you letter to an influential person in your life', 'type': 'social', 'participants': 1, 'price': 0, 'link': '', 'key': '4101229', 'accessibility': 0.1}""",campus/building/restapi/Catfact,"{""units"": ""No cat fact"", ""type"": ""integer"", ""tz"": ""US/Pacific""}"
...,...,...,...,...,...
43064,2022-05-14T19:03:03.439562+00:00,74,"""Two members of the cat family are distinct from all others: the clouded leopard and the cheetah. The clouded leopard does not roar like other big cats, nor does it groom or rest like small cats. The cheetah is unique because it is a running cat; all others are leaping cats. They are leaping cats because they slowly stalk their prey and then leap on it.""",campus/building/restapi/Catfact,"{""units"": ""No cat fact"", ""type"": ""integer"", ""tz"": ""US/Pacific""}"
43063,2022-05-14T19:02:58.438984+00:00,74,"""Researchers believe the word \u201ctabby\u201d comes from Attabiyah, a neighborhood in Baghdad, Iraq. Tabbies got their name because their striped coats resembled the famous wavy patterns in the silk produced in this city.""",campus/building/restapi/Catfact,"{""units"": ""No cat fact"", ""type"": ""integer"", ""tz"": ""US/Pacific""}"
43062,2022-05-14T19:02:53.465537+00:00,74,"""Cats can predict earthquakes. We humans are not 100% sure how they do it. There are several different theories.""",campus/building/restapi/Catfact,"{""units"": ""No cat fact"", ""type"": ""integer"", ""tz"": ""US/Pacific""}"
43061,2022-05-14T19:02:48.462299+00:00,74,"""A cat has approximately 60 to 80 million olfactory cells (a human has between 5 and 20 million).""",campus/building/restapi/Catfact,"{""units"": ""No cat fact"", ""type"": ""integer"", ""tz"": ""US/Pacific""}"
43060,2022-05-14T19:02:43.499025+00:00,74,"""Cats that live together sometimes rub each others heads to show that they have no intention of fighting. Young cats do this more often, especially when they are excited.""",campus/building/restapi/Catfact,"{""units"": ""No cat fact"", ""type"": ""integer"", ""tz"": ""US/Pacific""}"

In [8]:
df.sort_values('ts', ascending=False)[df.topic_id==73]

/tmp/ipykernel_5984/3160910235.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df.sort_values('ts', ascending=False)[df.topic_id==73]

,ts,topic_id,value_string,topic_name,metadata
43029,2022-05-14T23:36:58.524002+00:00,73,true,campus/building/restapi/Heartbeat,"{""units"": ""On/Off"", ""type"": ""integer"", ""tz"": ""..."
43028,2022-05-14T23:36:53.455603+00:00,73,true,campus/building/restapi/Heartbeat,"{""units"": ""On/Off"", ""type"": ""integer"", ""tz"": ""..."
43027,2022-05-14T23:36:48.449426+00:00,73,true,campus/building/restapi/Heartbeat,"{""units"": ""On/Off"", ""type"": ""integer"", ""tz"": ""..."
43026,2022-05-14T23:36:43.516594+00:00,73,true,campus/building/restapi/Heartbeat,"{""units"": ""On/Off"", ""type"": ""integer"", ""tz"": ""..."
43025,2022-05-14T23:36:03.513343+00:00,73,true,campus/building/restapi/Heartbeat,"{""units"": ""On/Off"", ""type"": ""integer"", ""tz"": ""..."
...,...,...,...,...,...
42964,2022-05-14T19:03:03.439562+00:00,73,true,campus/building/restapi/Heartbeat,"{""units"": ""On/Off"", ""type"": ""integer"", ""tz"": ""..."
42963,2022-05-14T19:02:58.438984+00:00,73,true,campus/building/restapi/Heartbeat,"{""units"": ""On/Off"", ""type"": ""integer"", ""tz"": ""..."
42962,2022-05-14T19:02:53.465537+00:00,73,true,campus/building/restapi/Heartbeat,"{""units"": ""On/Off"", ""type"": ""integer"", ""tz"": ""..."
42961,2022-05-14T19:02:48.462299+00:00,73,true,campus/building/restapi/Heartbeat,"{""units"": ""On/Off"", ""type"": ""integer"", ""tz"": ""..."
42960,2022-05-14T19:02:43.499025+00:00,73,true,campus/building/restapi/Heartbeat,"{""units"": ""On/Off"", ""type"": ""integer"", ""tz"": ""..."

In [9]:
df[df.topic_id==74].metadata.values[0]

'{"units": "No cat fact", "type": "integer", "tz": "US/Pacific"}'

In [10]:
df.metadata.unique()

array(['{"units": "F", "type": "integer", "tz": "US/Pacific"}',
       '{"units": "Enumeration", "type": "integer", "tz": "US/Pacific"}',
       '{"units": "On / Off", "type": "integer", "tz": "US/Pacific"}',
       '{"units": "On/Off", "type": "integer", "tz": "US/Pacific"}',
       '{"units": "waveform", "type": "integer", "tz": "US/Pacific"}',
       '{"units": "PPM", "type": "integer", "tz": "US/Pacific"}',
       '{"units": "%", "type": "integer", "tz": "US/Pacific"}',
       '{"units": "1/0", "type": "integer", "tz": "US/Pacific"}',
       '{"units": "1-0", "type": "integer", "tz": "US/Pacific"}',
       '{"units": "No cat fact", "type": "integer", "tz": "US/Pacific"}'],
      dtype=object)

In [11]:
# customer code

In [12]:
def get_cat_fact(url: str = "https://catfact.ninja/fact") -> str:
    '''
    REST API request
    Return a string (cat fact)

    EXAMPLE:

    Typical response:
    {'fact': "A cat's nose is as unique as a human's fingerprint.", 'length': 51}
    Return:
    "A cat's nose is as unique as a human's fingerprint."

    '''
    cat_fact: str  # return value
    response = requests.get(url)
    response_json: dict = response.json()
    cat_fact = response_json.get("fact")
    return cat_fact

In [13]:
get_cat_fact()

'The ancestor of all domestic cats is the African Wild Cat which still exists today.'

In [14]:
def get_activity(url: str = "https://www.boredapi.com/api/activity?type=recreational&participants=1") -> str:
    '''
    REST API request
    Return a string (cat fact)

    EXAMPLE:

    Typical response:
    {'fact': "A cat's nose is as unique as a human's fingerprint.", 'length': 51}
    Return:
    "A cat's nose is as unique as a human's fingerprint."

    '''
    activity_info_str: str  # return value
    response = requests.get(url)
    response_json: dict = response.json()
    activity_info = response_json
    activity_info_str = str(response_json)
    return activity_info_str

In [15]:
get_activity()

"{'activity': 'Do a jigsaw puzzle', 'type': 'recreational', 'participants': 1, 'price': 0.1, 'link': 'https://en.wikipedia.org/wiki/Jigsaw_puzzle', 'key': '8550768', 'accessibility': 1}"