In [1]:
import sqlite3
import pandas as pd

In [2]:
f_path = '/home/kefei/.volttron//data/historian.sqlite'

In [4]:
con = sqlite3.connect(f_path)

df = pd.read_sql_query("SELECT name FROM sqlite_schema WHERE type ='table' AND name NOT LIKE 'sqlite_%'", con)
df.head()

           name
0    data_table
1  topics_table

In [5]:

df_data = pd.read_sql_query(sql="select * from data_table", con=con)
# df_data

df_topics = pd.read_sql_query(sql="select * from topics_table", con=con)
# df_topics

In [6]:
df_data

Empty DataFrame
Columns: [ts, topic_id, value_string]
Index: []

In [7]:
df_topics

Empty DataFrame
Columns: [topic_id, topic_name, metadata]
Index: []